@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url(./assets/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(./assets/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: 'CalSans';
  src: url(./assets/CalSans-Regular.ttf);
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'CalSans', var(--font-sans), sans-serif;
}

/* Create noise for body element*/
body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 10;
  opacity: 1;
  mix-blend-mode: soft-light;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='7' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
  pointer-events: none;
}
